body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  
  #task-input {
   
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #add-task-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .task-item button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-item button:hover {
    background-color: brown;
  }